name: Python Appium Tests

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      BUILD_NUMBER: ${{ github.run_number }}
      BUILD_ID: ${{ github.run_id }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q -m "manual" --alluredir=artifacts/allure-results

      - name: Upload allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: artifacts/allure-results

  report:
    runs-on: ubuntu-latest
    needs: tests
    # Pages деплоим только из main
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages

    steps:
      - name: Download allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: artifacts/allure-results

      - name: Set up Pages
        uses: actions/configure-pages@v5

      - name: Install Allure CLI
        run: |
          npm i -g allure-commandline --silent

      - name: Generate Allure report
        run: |
          allure generate artifacts/allure-results -o site --clean

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Print Allure report URL
        run: |
          echo "Allure report available at:"
          echo "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/"пше

