name: Python Appium Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      BUILD_NUMBER: ${{ github.run_number }}
      BUILD_ID: ${{ github.run_id }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q -m "manual"

      - name: Upload allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: artifacts/allure-results

  report:
    runs-on: ubuntu-latest
    needs: tests
    if: always()
    environment:
      name: github-pages
    steps:
      - name: Download allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: artifacts/allure-results

      - name: Install Allure CLI
        run: |
          npm i -g allure-commandline --silent

      - name: Generate Allure report
        run: |
          allure generate artifacts/allure-results -o allure-report --clean

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: allure-report

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4